.header{
    width: 1500px;
    height: 55px;
    border-bottom: 1px solid #d6dee9;
    background-color: #FFFFFF;
}
.logo{
    height: 54px;
    width: 65px;
    position: absolute;
    top:0%;
    left:0%;
    right:0%;
    bottom: 93%;
    margin-left: 30px;
    cursor: pointer;
}
.avatar{
    width: 40px;
    height: 40px;
    top:1%;
    right:3%;
    border-radius: 50%;
    position:absolute;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    width: 110px;
    height: 35px;
    gap: 10px;
    position: absolute;
    left: 86%;
    right: 7.78%;
    top: 1%;
    font-style: normal;
    font-weight: 600;
    color: white;
    border: none;
    bottom: 94.53%;
    background: #2DCA73;
    border-radius: 4px;
    cursor: pointer;
  }